body {
  background: white;
  color: black;
  font-family: Inter;
  border: none;
  outline: none;
  margin: 0px;
  width: 100%;
  height: 100vh;
}

h3 {
    color: var(--Black-4, #5E6366);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.input {
  padding: 12px 16px;
  flex-direction: space-between;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  border-radius: 8px;
  border: 1px solid var(--Black-1, #cfd3d4);
  background-color: white;
  color: var(--Black-1, #5e6366);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input:focus {
  border: 1px solid var(--variable-collection-primary);
}
.input.invalid {
  border-color: var(--variable-collection-danger);
  background-color: #ffe6e6;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 24px 64px;
  align-items: center;
  gap: 78px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(94, 99, 102, 0.15);
}

.top-nav .name a {
    color: #5570F1;
    text-decoration: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top-nav .nav-item a {
    color: var(--Black-4, #5E6366);
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quiz-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: flex-start; 
  padding-top: 175px;
  padding-bottom: 100px;
  width: 75%; 
  margin: 0 auto; 
  gap: 20px;
  box-sizing: border-box;
  height: 100%;
}

.question-set {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    gap: 20px;
    padding-left: 16px; 
}

.sidemenu {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid var(--Gray1, #CFD3D4);
}

.sidemenu-item {
    display: inline-flex;
    padding: 20px 24px;
    align-items: center;
    gap: 10px;
    color: var(--Black-5, #2B2F32);
}

.sidemenu-item:hover {
  background-color: var(--gray-200, #f8f8f8);
}

.sidemenu-item.selected {
    border-left: 4px solid var(--Primary, #5570F1);
    background: rgba(85, 112, 241, 0.05);
}

.sidemenu-label {
    width: 240px;
    color: var(--Black-5, #2B2F32);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textinputcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 150px;;
}

.question {
  color: var(--variable-collection-black-4);
  margin-bottom: 8px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textinputcontainer .textinputfield {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Black-1, #cfd3d4);
  font-size: 14px;
  outline: none;
}

.textinputcontainer .textinputfield:focus {
  border-color: var(--variable-collection-primary);
}

.textinputfield.invalid {
  border-color: var(--variable-collection-danger);
  background-color: #ffe6e6;
}

.helpertext {
  color: var(--variable-collection-danger);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-container.focused .dropdown-toggle {
  border-color: var(--variable-collection-primary);
}

.dropdown-container.invalid .dropdown-toggle {
    border-color: var(--variable-collection-danger);
    background-color: #ffe6e6;
  }

.dropdown {
  position: relative;
}

.dropdown .dropdown-toggle {
  display: flex;
  min-width: 200px;
  width: 100%;
  height: 42px;
  padding: 12px 16px;
  flex-direction: space-between;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  border-radius: 8px;
  border: 1px solid var(--Black-1, #cfd3d4);
  background-color: white;
  color: var(--Black-1, #5e6366);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-menu {
  position: absolute;
  max-height: 400px;
  overflow-y: auto;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dropdown .dropdown-menu {
  display: flex;
  width: 375px;
  padding: 12px 16px;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid var(--Black-1, #cfd3d4);
  background: #fff;
}

.dropdown .dropdown-item {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 12px 0px;
  font-size: 14px;
  color: var(--Black-1, #5e6366);
}

.multiple-choice-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.options {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 14px;
  flex-wrap: wrap;
}

.option-box {
  display: flex;
  width: 215px;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;

  color: var(--Black-3, #83898c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.radio-button {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Black-1, #cfd3d4);
}

.option-box.selected {
    color: var(--Black-5, #2B2F32);
}

.option-box.selected .radio-button {
  background-color: var(--variable-collection-primary, #5570f1);
  border-color: 1px white;
  box-shadow: 0 0 0px 1px var(--variable-collection-primary, #5570f1);
}

.multi-select-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--Black-3, #83898C);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.multi-select-container .multi-select {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  flex-wrap:wrap;
}

.multi-select-container .multi-select .multi-select-item{
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.multi-select-container .multi-select .checkbox {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid var(--Black-1, #cfd3d4);
}

.option-box.selected .checkbox {
  background-color: var(--variable-collection-primary, #5570f1);
  border-color: 1px white;
  box-shadow: 0 0 0px 1px var(--variable-collection-primary, #5570f1);
}

.submit-button {
  display: flex;
  width: 375px;
  padding: 17px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 0;
  background: var(--Primary, #5570f1);
  transition: background-color 0.3s ease;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit-button:hover {
  background-color: #3b5bd1;
}
