:root {
  --variable-collection-black-4: rgba(94, 99, 102, 1);
  --variable-collection-danger: rgba(245, 126, 119, 1);
  --variable-collection-black-1: rgba(207, 211, 212, 1);
  --variable-collection-primary: rgba(85, 112, 241, 1);
}